<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Project name</a>
          </div>

          <form class="navbar-form navbar-left" method="POST" action="/search">
          <div class="form-group">
            <input type="text" name="q" class="form-control" placeholder="search">
            <button type="submit" class="btn btn-success">search</button>
          </div></form>

          <div id="navbar" class="navbar-collapse collapse">
            
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories</a>
    
                    <ul class="dropdown-menu">
                      <% for(var i = 0; i< categories.length; i++) { %> 
                        <li><a href="/products-by-category/<%=categories[i].name %>"><%= categories[i].name %></a> </li>
                      <% } %>
                      
                    </ul>
                  </li>

              <% if(!user) { %>
              <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sign up / Login</a>

                <ul class="dropdown-menu">
                  <li><a href="/signup">Sign up</a> </li>
                  <li><a href="/login">Login</a></li>
                </ul>
              </li>

              <% } else { %>
              <li>
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= user.profile.name %></a>
  
                  <ul class="dropdown-menu">
                    <li><a href="/profile">Profile</a> </li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>
                <% if(cart) { %>
                  <li><a href="/cart" class="glyphicon glyphicon-shopping-cart"><span class="badge"><%= cart %></span></a> </li>



                  <% } else { %>
                    <li><a href="/cart" class="glyphicon glyphicon-shopping-cart"><span class="badge">0</span></a> </li>



                    <% } %>



                <% } %>

            </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </nav>
