
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
   
    <title>AMAZON CLONE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/custom.css">

    
  </head>

  <body>

    <!-- old nav bar was here-->
    <% include partials/navbar %>

    
   

    
      <!-- Example row of columns -->
      
      <%- body -%>

      <!-- old fotter location was here-->
     <!-- /container -->
    <% include partials/footer %>

    

   
  </body>
</html>
