
<% layout('layout') -%>

<div class="container"></div>
  <!-- Example row of columns -->
  
  
<div class="row">
    <div class="col-md-3 col-md-offset-7">

      <% if ( message.length > 0) { %>

        <div class="alert alert-success alert-dismissible">

          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= message %>
        </div>




        <% } %>

        <form method="post">

          <h3>Edit Profile</h3>


          
          <div class="form-group">
              <label for="userName">name </label>
              <input id="userName" type="text" class="form-control" value="<%= user.profile.name %>" name="name">

            </div>

            <div class="form-group">
                <label for="userAddress">address</label>
                <input id="userAddress" type="text" class="form-control" value="<%= user.address %>" name="address">

              </div>

              <button type="submit" class="btn btn-success">submit</button>
            
            
            

        </form>

    </div>
</div>

  <!-- old fotter location was here-->
</div> <!-- /container -->
