
<% layout('layout') -%>

    <div class="container"></div>
      <!-- Example row of columns -->
      
      
<div class="row">
        <div class="col-md-3 col-md-offset-7">

          <% if ( message.length > 0) { %>

            <div class="alert alert-danger alert-dismissible">

              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <%= message %>
            </div>




            <% } %>
    
            <form method="post">

              <h3>Log In</h3>

    
              
              <div class="form-group">
                  <label for="loginEmail">email </label>
                  <input id="loginEmail" type="email" class="form-control" name="email">
  
                </div>

                <div class="form-group">
                    <label for="loginPassword">password</label>
                    <input id="loginPassword" type="password" class="form-control" name="password">
    
                  </div>

                  <button type="submit" class="btn btn-success">log in</button>
                
                
                
    
            </form>
    
        </div>
    </div>

      <!-- old fotter location was here-->
    </div> <!-- /container -->
   