<% layout('layout') -%>

<div class="container">
    <div class="col-sm-6 col-md-4"
    <div class="row">
        <img id="profile-img-in-profile-page" class="img-circle img-responsive img-center" src="<%= user.profile.picture %>" alt="">
        <br>
        <P>Name: <%= user.profile.name %></P>
        <p>Email: <%= user.email %></p>

        <% if( user.address === ''|| typeof(user.address) === 'undefined'){ %>
            <p>Address: <span style="color: #c0392b; font-weight: bold;"> you have no address</span></p>
        
        
        <% } else { %>
            <p>Address: <%= user.address %></p>
        
        
        <% } %>
        <a href="/edit-profile" class="btn btn-primary btn-lg">Edit Profile</a>



    </div>
</div>