
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
   
    <title>AMAZON CLONE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/custom.css">


    
  </head>

  <body>

    <!-- old nav bar was here-->
    <% include ../partials/navbar %>
 


    <div class="container"></div>
      <!-- Example row of columns -->
      
      
<div class="row">
        <div class="col-md-3 col-md-offset-7">

          <% if ( errors.length > 0) { %>

            <div class="alert alert-danger alert-dismissible">

              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <%= errors %>
            </div>




            <% } %>
    
            <form method="post">

              <h3>Sign Up</h3>

    
              <div class="form-group">
                <label for="signupName">Name </label>
                <input id="signupName" type="text" class="form-control" name="name">

              </div>
              <div class="form-group">
                  <label for="signupEmail">email </label>
                  <input id="signupEmail" type="email" class="form-control" name="email">
  
                </div>

                <div class="form-group">
                    <label for="signupPassword">password</label>
                    <input id="signupPassword" type="password" class="form-control" name="password">
    
                  </div>

                  <button type="submit" class="btn btn-success">sign up</button>
                
                
                
    
            </form>
    
        </div>
    </div>

      <!-- old fotter location was here-->
    </div> <!-- /container -->
    
    <% include ../partials/footer %>
    

   
  </body>
</html>
