
<% layout('layout') -%>

<div class="container"></div>
  <!-- Example row of columns -->
  
  
<div class="row">
    <div class="col-md-3 col-md-offset-7">

      <% if ( message.length > 0) { %>

        <div class="alert alert-success alert-dismissible">

          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= message %>
        </div>




        <% } %>

        <form method="post">

          <h3>New Category</h3>


          
          <div class="form-group">
              <label for="categoryName">Name: </label>
              <input id="categoryName" type="text" class="form-control" name="name">

            </div>


              <button type="submit" class="btn btn-success">Register</button>
            
            
            

        </form>

    </div>
</div>

  <!-- old fotter location was here-->
</div> <!-- /container -->
