<% layout('layout') -%>



<div class="container">
    <div class="row">
        <div class="col-lg-6">
            

            <% for (var i =0; i < foundCart.items.length; i++) { %>
            <div class="list-group">
                <span class="list-group-item">
                    <div class="row">
                        <div class="col-md-3">
                            <span>
                                <img class="product-image" src="<%= foundCart.items[i].item.image %>">
                            </span>
                        </div>
                        <div class="col-md-6">
                            <p class="list-group-item-heading"><%= foundCart.items[i].item.name %></p>

                        </div>

                        <div class="col-md-3">
                            <p><%= foundCart.items[i].quantity %></p>                              
                            <p><%= foundCart.items[i].price %></p>
                            
                            <form method="POST" action="/remove">
                                <input type="hidden" name="item" value="<%= foundCart.items[i]._id %>">
                                <input type="hidden" name="price" value="<%= foundCart.items[i].price %>">
                                <button type="submit">Remove</button>
                            
                            </form>

                        </div>
                    </div>
                </span>
            </div>
           <% } %>
        </div>
    </div>
</div>