<% layout('layout') -%>

    

     <!-- Main jumbotron for a primary marketing message or call to action -->
     <div class="jumbotron">
            <div class="container">
                    <h1>Shop Smart, Save Big!</h1>
                    <p>Starting point to create something more unique</p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign up &raquo;</a></p>
            </div>
          </div>
      
          <div class="container">
            <!-- Example row of columns -->
            <div class="row">
              <div class="col-md-4">
                  <h3>Start your search here</h3>
                <p>Sign up, start shopping</p>

            </div>
              <div class="col-md-4">
                <h3>Looking for Smart items?</h3>
                <p>This will appear across the site as you add to your cart</p>
             </div>
              <div class="col-md-4">
                <h3>Build a Smart Cart</h3>
                <p>The more smart items you buy together, the more you save ;)</p>
            </div>
            </div>
      
            <hr>
      
           


