<% layout('layout') -%>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="<%= product.image %>" alt="product image">
        </div>

        <div class="col-md-4">

        </div>

        <div class="col-md-4">
            <h3><%= product.name %></h3>
            <h3><%= product.price %></h3>
            
            <form method="POST">
                <div class="btn-group" role="group" aria-label="...">
                    <input type="hidden" name="quantity" id="quantity" value="1"></input>
                    <button type="button" id="minus" class="btn btn-default">-</button>
                    <button type="button" id="total" class="btn btn-default">1</button>
                    <button type="button" id="plus"  class="btn btn-default">+</button>
                </div>
                <div class="form-group">
                    <input type="hidden" name="product_id" id="quantity" value="<%= product._id %>"></input>
                    <input type="hidden" name="priceHidden" id="priceHidden" value="<%= product.price %>"></input>

                    <input type="text" name="item" class="form-control" value="<%= product.name %>"></input>
                    <input type="text" name="priceValue" id="priceValue" class="form-control" value="<%= product.price %>"></input>
                </div>

                <% if(user) { %>
                    <button type="submit" class="btn btn-primary btn-lg">Add to Cart</button>
                
                
                <% } else { %>
                    <a href="/signup" class="btn btn-warning btn-lg">Signup to begin buying!</a>

                    <% } %>

            </form>

        </div>
    </div>
</div>