<% layout('layout') -%>

    

     <!-- Main jumbotron for a primary marketing message or call to action -->
     <div class="jumbotron">
            <div class="container">
                    <h1 class="text-center">Shop Smart, Save Big!</h1>
                    <p class="text-center">Find your favourite Product</p>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="input-group col-md-12">
                                <span class="input-group-btn">

                                    <input type="text" id="search-product-main" class="form-control input-lg" name="search-form" placeholder="Find your item now">
                                    <button type="submit" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
            </div>
          </div>

    <div class="container">
            <div class="row" id="search-result-display">
                    <% for (var i = 0; i< products.length; i++) { %>
                    
                        
                        <div class="col-md-4">
                            <a href="/product/<%= products[i]._id %>">
                            <div class="thumbnail">
                                <img src="<%= products[i].image %>">
                                <div class="caption">
                                    <h3> <%= products[i].name %> </h3>
                                    <p><%= products[i].price %></p>
                                </div>
                            </div>
                            </a>
                            
                        </div>
                        <%}%>

                        <ul class="pagination text-center">
                            
                                <% for (var i = 1; i <= pages; i++) { %> 
                                    <% if(i === 1) { %> 
                                        <li><a href="/"><%= i %></a></li>
                                <%} else {%>
                                    <li><a href="/page/<%= i %>"><%= i %></a></li>
                                <%}%>
                                <%}%>
                        </ul>
            </div>

    </div>