<% layout('layout') -%>

<div class="container">

    <% if (data.length === 0) { %>
        <h3>Search not found</h3>
    <% } else { %> 
    <h3>Results for <%= query %></h3>
    <div class="row">
            <% for (var i = 0; i< data.length; i++) { %>
            
                
                <div class="col-md-4">
                    <a href="/product/<%= data[i]._id %>">
                    <div class="thumbnail">
                        <img src="<%= data[i]._source.image %>">
                        <div class="caption">
                            <h3> <%= data[i]._source.name %> </h3>
                            <p><%= data[i]._source.price %></p>
                        </div>
                    </div>
                    </a>
                    
                </div>
                <%}%>
        </div>
        <% } %>
</div>